<div class = "center jumbotron">
	<h1> BLOGGER </h1>
	<p> Blogger is a website where you can post articles about what you have been up to. </p>
	<p> <a class = "btn btn-primary btn-lg" href= "#" role = "button"> Sign Up! </a> |
	 <a class = "btn btn-primary btn-lg" href = "#" role = "button"> Learn More </a>  |
	 <a class = "btn btn-primary btn-lg" href = <%= about_path %> role = "button"> About Us </a> </p> 
</div>

<%= link_to "About", about_path %>
