<div class = "center jumbotron">
	<h1 style = "color:#fff;"> BLOGGER </h1>
	<p style = "color:#fff;"> Connect With Your Friends </p>
	<p style = "color:#fff;"> <a class = "btn btn-primary btn-xlg" href= <%= articles_path %> role = "button"> View all articles </a> |
	 <a class = "btn btn-primary btn-lg" href = <%= new_article_path %> role = "button"> Create new article </a>  |
	 <a class = "btn btn-primary btn-xlg" href = <%= about_path %> role = "button"> About Us </a> </p> 
</div>
