<div class = "center jumbotron">
	<h1 style = "color:#fff;"> BLOGGER </h1>
	<p style = "color:#fff;"> Connecting Friends </p>
	<p style = "color:#fff;"> <a class = "btn btn-primary btn-xlg" href= "#" role = "button"> Learn More </a> |
	 <a class = "btn btn-primary btn-lg" href = "#" role = "button"> Sign Up </a>  |
	 <a class = "btn btn-primary btn-xlg" href = <%= about_path %> role = "button"> About Us </a> </p> 
</div>
